In [1]:
import numpy as np
import pandas as pd

In [2]:
steige = pd.read_csv("wienerlinien-ogd-steige.csv", sep=";")
steige.head()

,STEIG_ID,FK_LINIEN_ID,FK_HALTESTELLEN_ID,RICHTUNG,REIHENFOLGE,RBL_NUMMER,BEREICH,STEIG,STEIG_WGS84_LAT,STEIG_WGS84_LON
0,214689748,214433691,214461074,H,1,4931,2,U3-H,"48,21157002","16,31143825"
1,214689749,214433691,214461382,H,2,4932,1,U3-H,"48,20458364","16,30907568"
2,214689750,214433691,214461121,H,3,4933,1,U3-H,"48,19978182","16,31136638"
3,214689751,214433691,214460711,H,4,4926,1,U3-H,"48,19760828","16,32005309"
4,214689752,214433691,214461278,H,5,4927,1,U3-H,"48,1976442","16,32861404"

In [3]:
haltestellen = pd.read_csv("wienerlinien-ogd-haltestellen.csv", sep=";")
haltestellen.head()

,HALTESTELLEN_ID,TYP,DIVA,NAME,GEMEINDE,GEMEINDE_ID,WGS84_LAT,WGS84_LON
0,214460106,stop,60200001,Schrankenberggasse,Wien,90001,"48,17380107","16,38980727"
1,214460107,stop,60200002,Achengasse,Wien,90001,"48,28452581","16,44889845"
2,214460108,stop,60200003,Ada-Christen-Gasse,Wien,90001,"48,15286556","16,3859535"
3,214460109,stop,60200004,Adam-Betz-Gasse,Wien,90001,"48,21561056","16,53519062"
4,214460110,stop,60200005,Adamovichgasse,Wien,90001,"48,14216681","16,33783974"

In [4]:
# Test UTF-8
haltestellen.iloc[68, :]

HALTESTELLEN_ID           214460174
TYP                            stop
DIVA                       60200069
NAME               Anton-BÃ¶ck-Gasse
GEMEINDE                       Wien
GEMEINDE_ID                   90001
WGS84_LAT               48,29640207
WGS84_LON               16,38978033
Name: 68, dtype: object

In [5]:
df = pd.DataFrame({
    "HALTESTELLEN_ID": haltestellen["HALTESTELLEN_ID"], 
    "DIVA": haltestellen["DIVA"],
    "NAME": haltestellen["NAME"],
    "LATITUDE": haltestellen["WGS84_LAT"],
    "LONGITUDE": haltestellen["WGS84_LON"],
    "RLB": "[]"
})
df.head()

   HALTESTELLEN_ID      DIVA                NAME     LATITUDE    LONGITUDE RLB
0        214460106  60200001  Schrankenberggasse  48,17380107  16,38980727  []
1        214460107  60200002          Achengasse  48,28452581  16,44889845  []
2        214460108  60200003  Ada-Christen-Gasse  48,15286556   16,3859535  []
3        214460109  60200004     Adam-Betz-Gasse  48,21561056  16,53519062  []
4        214460110  60200005      Adamovichgasse  48,14216681  16,33783974  []

In [14]:
# Calculate all RBL for each Haltestellen_ID
for index, row in df.iterrows():
    id = row["HALTESTELLEN_ID"]
    arr = steige[(steige["FK_HALTESTELLEN_ID"] == id)]
    arr = list(arr["RBL_NUMMER"].drop_duplicates().values)
    arr = str(arr)
    print(arr)
    #arr = arr.replace(".", "")
    #arr = arr.replace(" ", ", ")
    
    #df.iloc[index, 5] = arr

    if (index == 0):
        break

[406, 420]

In [7]:
print(df.head())
print(df.tail())

HALTESTELLEN_ID      DIVA                NAME     LATITUDE    LONGITUDE  \
0        214460106  60200001  Schrankenberggasse  48,17380107  16,38980727
1        214460107  60200002          Achengasse  48,28452581  16,44889845
2        214460108  60200003  Ada-Christen-Gasse  48,15286556   16,3859535
3        214460109  60200004     Adam-Betz-Gasse  48,21561056  16,53519062
4        214460110  60200005      Adamovichgasse  48,14216681  16,33783974

            RLB
0    [406, 420]
1  [1168, 1159]
2        [3171]
3        [8007]
4  [2093, 2550]
      HALTESTELLEN_ID      DIVA            NAME     LATITUDE    LONGITUDE  \
2223        240568393  60201908    Ziedlergasse  48,15124141  16,29610401
2224        297662130  60201909   Melchartgasse  48,17233934  16,29511586
2225        345540619  60201910    Absberggasse  48,17595765  16,39060678
2226        345748639  60201911  Niedermeierweg  48,20625399  16,48325003
2227        378056605  60201912     Hlawkagasse  48,17912646  16,38287228

                           RLB
2223                    [3846]
2224              [3443, 3444]
2225  [3435, 3434, 3431, 3433]
2226              [3453, 3454]
2227              [3439, 3438]

In [10]:
df.to_csv("data.csv")  
df.to_excel("data.xlsx")